/* // ****** LICENSE NOTICE ****** \\
      COPYRIGHT: 2022 Stuart Peel 
      This PROGRAM is distributed under the terms of the:
      AGPL-3.0-or-later
*/

/*  poppins
    font-family: 'Poppins', sans-serif;
     */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "bather";
  src: url(../fonts/Bather.ttf) format("truetype");
}

@font-face {
  font-family: "pointfree";
  src: url(../fonts/pointfree.ttf) format("truetype");
}

@font-face {
  font-family: "gilgongo";
  src: url(../fonts/GILGON.ttf) format("truetype");
}

:root {
  /* type settings */
  --font-title: "gilgongo", poppins, sans-serif;
  --font-primary: "poppins", sans-serif;
  --font-label: "pointfree", monospace;
  --font-spacing-title: 0.5rem;
  --font-spacing-ltr: 0.05rem;
  --font-size-title: min(max(2rem, 4vw), 4rem);

  /* colours */
  --clr-btn: #ecd556;
  --clr-title-01: #413b45;
  --clr-title: rgb(142, 130, 148);

  /* Yellows */
  --clr-pastel-y0: #ffba53;
  --clr-pastel-y1: #fffabe;
  --clr-pastel-y2: #fffcdd;

  /* Greys */
  --clr-grey-1: rgb(47, 45, 61);
  --clr-grey-2: rgb(56, 54, 71);

  --clr-silver-1: silver;
  --clr-silver-2: rgb(231, 231, 231);

  /* pallet from title */
  --clr-red-brown: #590219;
  --clr-grey: #867b8c;
  --clr-yellow-dusty: #f2d06b;
  --clr-yellow-dusty-1: #f9e9b9;
  --clr-yellow-dusty-brown-2: hsl(45, 46%, 74%);
  --clr-yellow-dusty-brown: #bfa454;
  --clr-pink-dusty: #f2a477;
}

/* ****** Global Start ****** */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: var(--font-spacing-ltr);
  background-color: var(--clr-title-01);
  background-image: url(../images/img-noise-50x50.png);
  background-size: 25px;
}

body p {
  margin-bottom: 0.5rem;
}

/* ****** Global End ****** */

header {
  text-align: center;
  background-color: var(--clr-yellow-dusty);
  border-start-start-radius: 4rem;
  border-start-end-radius: 4rem;
  border-top: 4px solid var(--clr-red-brown);
  border-left: 4px solid var(--clr-red-brown);
  border-right: 4px solid var(--clr-red-brown);
  /* background-image: url(../images/img-noise-header-2.png); */
}

.title {
  font-family: var(--font-title);
  font-size: var(--font-size-title);
  color: var(--clr-title-01);
  letter-spacing: var(--font-spacing-title);
  /* text-shadow: 0.1rem 0.1rem 0.1rem var(--clr-yellow-dusty-1),
    0.125rem 0.2rem 0rem var(--clr-red-brown); */

  text-shadow: 1px 1px 4px var(--clr-pastel-y2), -1px -1px 1px black;
  padding: 1rem 0.5rem;
  padding: 1rem 0.5rem;
}

nav {
  background-color: var(--clr-pink-dusty);
  border-top: 2px solid var(--clr-red-brown);
  border-right: 4px solid var(--clr-red-brown);
  border-bottom: 4px solid var(--clr-red-brown);
  border-left: 4px solid var(--clr-red-brown);
  padding: 0.5rem;
}

nav .linkWrap {
  width: 600px;
  margin: auto;
}

nav a {
  padding-right: 1rem;
  color: var(--clr-red-brown);
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: var(--clr-yellow-dusty-1);
}

/* ****** KB Info Dropdown Start ****** */

.dropdown {
  color: var(--clr-red-brown);
  display: inline-block;
}

.dropContent {
  display: none;
  position: absolute;
  padding: 0.5rem;
  background-color: var(--clr-yellow-dusty-brown-2);
  border: 0.125rem solid var(--clr-red-brown);
  border-radius: 0.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.dropContent h2 {
  margin-bottom: -1.125rem;
}

.dropdown:hover .dropContent {
  display: block;
}

/* ****** KB Info Dropdown End ****** */

/* ****** Controls Start ****** */
.controls {
  /* border: .25rem solid var(--clr-title-01); */
  border-radius: 0.5rem;
  padding: 0.25rem;
  background-color: var(--clr-yellow-dusty-brown);
  max-width: 600px;
  margin: 0.5rem auto;
}

.fieldset {
  border-radius: 0.25rem;
  padding: 0.5rem;
  border: 0.125rem solid var(--clr-red-brown);
  color: var(--clr-red-brown);
}

.spacer {
  padding-top: 0.5rem;
}

legend {
  padding: 0 0.125rem;
  font-weight: 500;
}

.label {
  background-color: var(--clr-yellow-dusty-1);
  font-family: var(--font-label);
  font-weight: bold;
  padding: 0 1rem;
  border: 1px solid var(--clr-red-brown);
  border-radius: 0.175rem;
  flex-wrap: wrap;
  align-self: center;
  text-align: center;
  width: 65px;
}

/* .labelContainer {
  width: 150px;
  border: 1px solid white;
  justify-content: flex-end;
} */

audio {
  background-color: #590219;
  padding: 0.25rem;
  border-radius: 2rem;
  width: 300px;
}

audio::-webkit-media-controls-panel {
  background-color: #bfa454;
}

.audioctrls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: var(--clr-yellow-dusty-1);
  border: 2px solid var(--clr-red-brown);
  border-radius: 1rem;
  padding: 0.125rem 0.5rem;
}

.btn:hover {
  background-color: var(--clr-btn);
}

#stopBtn {
  margin: 0 0 0.25rem 0rem;
}

.sliderCtrls {
  display: flex;
  flex-direction: column;
}

.slider {
  width: 33%;
}

.ctrlWrap {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.ctrlWrap p {
  width: 102px;
}

.kettleWrap {
  display: flex;
  justify-content: space-between;
}

.kettleWrap p {
  width: 102px;
}
/* ****** Controls End ****** */

/* footer {
  background-color: transparent;
  margin: 1rem 0;
}

footer p {
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.75rem;
  margin: 0.5rem 0 0;
}

footer a {
  color: var(--clr-yellow-dusty);
} */

/* Footer */

footer {
  width: 100vw;
  height: 10vh;
  margin-top: 10vh;
  /* background-color: var(--clr-grey-2); */
  padding: 0.5rem 0;
}

footer p {
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  border: none;
  border-radius: 0;
  /* background-color: var(--clr-grey-2); */
  color: var(--clr-pastel-y0);
  font-size: 0.75rem;
  font-style: italic;
}

footer a:visited {
  color: var(--clr-silver-2);
}
/* ****** breakpoints ****** */
