/* // ****** LICENSE NOTICE ****** \\
      COPYRIGHT: 2022 Stuart Peel 
      This PROGRAM is distributed under the terms of the:
      AGPL-3.0-or-later
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "bather";
  src: url(../fonts/Bather.ttf) format("truetype");
}

@font-face {
  font-family: "pointfree";
  src: url(../fonts/pointfree.ttf) format("truetype");
}

@font-face {
  font-family: "gilgongo";
  src: url(../fonts/GILGON.ttf) format("truetype");
}

:root {
  /* type settings */
  --font-title: "gilgongo", poppins, sans-serif;
  --font-primary: "poppins", sans-serif;
  --font-label: "pointfree", monospace;
  --font-spacing-title: 0.5rem;
  --font-spacing-ltr: 0.075rem;
  --font-size-title: min(max(2rem, 4vw), 4rem);

  /* colours */
  --clr-btn: #ecd556;
  --clr-title-01: #413b45;
  --clr-title: rgb(142, 130, 148);

  /* Yellows */
  --clr-pastel-y0: #ffba53;
  --clr-pastel-y1: #fffabe;
  --clr-pastel-y2: #fffcdd;

  /* Greens */
  --clr-green-0: rgba(0, 100, 0, 1);

  /* Greys */
  --clr-grey-1: rgb(47, 45, 61);
  --clr-grey-2: rgb(56, 54, 71);

  --clr-silver-1: silver;
  --clr-silver-2: rgb(231, 231, 231);

  /* pallet from title */
  --clr-red-brown: #590219;
  --clr-grey: #867b8c;
  --clr-yellow-dusty: #f2d06b;
  --clr-yellow-dusty-1: #f9e9b9;
  --clr-yellow-dusty-brown-2: hsl(45, 46%, 74%);
  --clr-yellow-dusty-brown: #bfa454;
  --clr-pink-dusty: #f2a477;
}

/* ****** Global Start ****** */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3,
h4 {
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.15rem;
}

body {
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: var(--font-spacing-ltr);
  background-color: var(--clr-title-01);
  background-image: url(../images/img-noise-50x50.png);
  background-size: 25px;
  color: var(--clr-yellow-dusty-1);
}

body p {
  margin-bottom: 0.5rem;
}

a {
  color: var(--clr-yellow-dusty-1);
}

a:hover {
  color: var(--clr-pastel-y0);
}

/* ****** Global End ****** */

header {
  text-align: center;
  background-color: var(--clr-yellow-dusty);
  border-start-start-radius: 4rem;
  border-start-end-radius: 4rem;
  border-top: 4px solid var(--clr-red-brown);
  border-left: 4px solid var(--clr-red-brown);
  border-right: 4px solid var(--clr-red-brown);
  /* background-image: url(../images/img-noise-header-2.png); */
}

.title {
  font-family: var(--font-title);
  font-size: var(--font-size-title);
  color: var(--clr-title-01);
  letter-spacing: var(--font-spacing-title);
  /* text-shadow: 0.1rem 0.1rem 0.1rem var(--clr-yellow-dusty-1),
    0.125rem 0.2rem 0rem var(--clr-red-brown); */

  text-shadow: 1px 1px 4px var(--clr-pastel-y2), -1px -1px 1px black;
  padding: 1rem 0.5rem;
}

nav {
  position: sticky;
  top: 0;
  background-color: var(--clr-pink-dusty);
  border-top: 2px solid var(--clr-red-brown);
  border-right: 4px solid var(--clr-red-brown);
  border-bottom: 4px solid var(--clr-red-brown);
  border-left: 4px solid var(--clr-red-brown);
  padding: 0.5rem;
}

nav .linkWrap {
  width: 663.5px;
  margin: auto;
}

nav a {
  padding-right: 1rem;
  color: var(--clr-red-brown);
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: var(--clr-yellow-dusty-1);
}

main {
  width: 90vw;
  margin: 0 auto;
  line-height: 1.5;
}

.mainWrap {
  max-width: 66ch;
  margin: 2.5rem auto;
}

.section-list,
ul {
  margin: 1rem 0;
}

ul {
  list-style-position: inside;
  margin-left: 1rem;
}

.dropdown:hover .dropContent {
  /* display: inline-block; */
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--clr-Blue-2);
}

p i {
  font-weight: 900;
}

.btn {
  display: flex;
  font-family: var(--font-primary);
  font-weight: 600;
  background-color: var(--clr-yellow-dusty-1);
  border: 2px solid var(--clr-red-brown);
  border-radius: 1rem;
  padding: 0.125rem 0.5rem;
  margin: 2.5rem auto 0;
  color: var(--clr-grey);
}

.btn a {
  color: var(--clr-red-brown);
}

.btn:hover {
  background-color: var(--clr-btn);
  color: white;
}

/* ****** How To page specific styles START ****** /
/* howTo playback list styling */
.pblist {
  display: flex;
  justify-content: space-between;
  line-height: 3;
}

.playBtn {
  font-size: 2rem;
}
.playBtn:hover {
  color: yellow;
}

.player {
  width: 50px;
  height: 2.65rem;
  padding: 0.15rem 1.05rem 0.15rem 0.85rem;
  color: var(--clr-yellow-dusty-1);
  background-color: var(--clr-grey-1);
  border: 1px solid var(--clr-silver-1);
  border-radius: 4px;
}

/* ****** How To page specific styles END ****** /
/* Footer */
footer {
  width: 100vw;
  height: 10vh;
  margin-top: 2.5rem;
  /* background-color: var(--clr-grey-2); */
  padding: 0.5rem 0;
}

footer p {
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  border: none;
  border-radius: 0;
  color: var(--clr-pastel-y0);
  font-size: 0.75rem;
  font-style: italic;
}

footer a:visited {
  color: var(--clr-silver-2);
}
