* {
  margin: 0;
  padding: 0;
  background-color: #1c1524;
}

header {
  padding: 8px, 0;
  margin: 0 1vw;
}

main {
  margin: 1vw;
}

p {
  padding: 0.25vw 0 0 1vw;
  color: rgb(250, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

h2 {
  padding: 8px 0px 0px 0px;
  color: rgb(0, 51, 51);
  text-shadow: 0.5px 0.5px 0px rgb(107, 114, 131),
    -1px -1px 0px rgb(163, 147, 103), -1px 1px 0px rgb(163, 147, 103);
  letter-spacing: 0.15rem;
}

button {
  padding: 2px;
  color: white;
}
