* {
  margin: 0;
  padding: 0;
  background-color: #020101;
}

h1,
p {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  color: darkred;
}

button {
  padding: 2px;
  color: white;
}
